body {
    background-image: url('https://images.unsplash.com/photo-1532012197267-da84d127e765?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bGlicm98ZW58MHx8MHx8fDA%3D');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 49%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.cardImgIndex {
    height: 450px;
    width: 100%;
}
